- name: Deploy on EC2
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_SSH_KEY }}
    port: 22
    script: |
      docker stop backend frontend || true
      docker rm backend frontend || true

      docker pull sandeeptiwari0206/mern-backend:latest
      docker pull sandeeptiwari0206/mern-frontend:latest

      docker run -d \
        --name backend \
        -p 5000:5000 \
        -e MONGO_URI="${{ secrets.MONGO_URI }}" \
        -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
        sandeeptiwari0206/mern-backend:latest

      docker run -d \
        --name frontend \
        -p 3000:3000 \
        sandeeptiwari0206/mern-frontend:latest
